#back{
    position: fixed;
    bottom: 40px;
    left: 30px;
}
#btn-back{
    padding: 10px 30px;
    border: 2px solid var(--cor6);
    border-radius: 20px;
    text-align: center;
}
#btn-back:hover{
    background-color: var(--cor3);
    border: 2px solid var(--cor4);
}