@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family= Inter & display=swap');
:root{
    --font: 'Inter', sans-serif;
    --cor0: #F2E7DC;
    --cor1: #F2B279;
    --cor2: #F2913D;
    --cor2-1: #f2913d83;
    --cor3: #F27405;
    --cor4: #F25C05;
    --cor5: #1d1d1d;
    --cor6: #0F0F39;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    color: var(--cor5);
    text-decoration: none;
}
body{
    background-color: var(--cor1);
}
#options{
    margin: 110px 0 0 40px;
}
.options-opt{
    width: 80%;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    font-size: 30px;
    border: 2px solid var(--cor6);
    border-radius: 20px;
}
.options-opt:hover{
    border: 2px solid var(--cor4);
    transform: scale(1.05);
    transition: 100ms ease-in-out;
}
.fa-solid{
    color: var(--cor2);
    font-size: 60px;
}
.options-txt{
    align-self: center;
    margin-left: 20px;
}
#logout{
    position: fixed;
    bottom: 40px;
    right: 30px;
}
#btn-logout{
    padding: 10px 30px;
    border: 2px solid var(--cor6);
    border-radius: 20px;
    text-align: center;
}
#btn-logout:hover{
    background-color: var(--cor3);
    border: 2px solid var(--cor4);
}